__pycache__/
.pytest_cache/
venv
design_idea.md
.idea
mount/mysql
mount/redis
!mount/mysql/.gitkeep
!mount/redis/.gitkeep
frontend/node_modules
backend/.true_env
backend/__pycache__/
backend/application/__pycache__/
backend/tests/__pycache__/

