.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
}

.comment-area{
    box-sizing: border-box;
    min-width: 200px;
    max-width: 900px;
    margin: 0 auto;
    padding: 45px;
    border: 1px solid lightgray;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 15px;
    }
}

pre {
  border: 1px solid #ccc;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}