.item-link {
    margin-right: 8px;
}

.item-link-icon {
    margin-right: 8px;
}

.ant-page-header-rtl .item-link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.ant-page-header-rtl .item-link-icon {
    margin-right: 0;
    margin-left: 8px;
}

.ant-page-header-heading{
    padding-top: 35px;
}

.ant-page-header-heading-title{

    padding-left: 50px;
}

.list-item{
    background: white;
    box-shadow: 1px 1px 1px 1px rgba(0.05, 0.05, 0.05, 0.05);
    min-height: 380px;
}

.item-wrapper{
    padding: 45px
}