.item-link {
    margin-right: 8px;
}

.item-link-icon {
    margin-right: 8px;
}

.ant-page-header-rtl .item-link {
    float: right;
    margin-right: 0;
    margin-left: 16px;
}

.ant-page-header-rtl .item-link-icon {
    margin-right: 0;
    margin-left: 8px;
}